
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-toggle.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap2-toggle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>

    <style type="text/css">
        .container {
            width: 50%;
            margin: 15px auto;
        }
    </style>

</head>

<div >
    <div class="jumbotron container-fluid col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">
        <h2 class="col-md-12 col-lg-12 col-sm-12 col-xs-6 ">Total Video Views</h2>
    </div>
   
    <div>
        <label>Select the Date</label>
        <input type="date" id="selecteddate" />
    </div>
    <div>
        <label>Change Chart Type</label>
        <input onclick="GenerateRuntimeGraph(value)" id="btnpie" type="button" class="btn btn-success" value="pie">
        <input onclick="GenerateRuntimeGraph(value)" id="btndonut" type="button" class="btn btn-warning" value="doughnut">

    </div>
    <div>
        <canvas style="display:block;width: 200px;  height: 130px;" id="myChart"></canvas>
    </div>
</div>

<script>
   
    function GenerateRuntimeGraph(type) {
 
        var charttype=type
        dateselected = $('#selecteddate').val();

        $.ajax({
            url: '/Chart/ShowChart',
            type: "POST",
            data: { selecteddate: dateselected },

            success: function (response) {           

                    var result = response
                    var ctx = document.getElementById("myChart").getContext('2d');
                    var label = result.map((item) => { return item.VideoName })
                    var data = result.map((item) => { return item.NoOfView })
                    var myChart = new Chart(ctx,
                        {
                            type: charttype,
                            data:
                            {
                                labels: label,
                                datasets:
                                    [{
                                        backgroundColor: [
                                            "#2ecc71",
                                            "#3498db",
                                            "#95a5a6",
                                            "#9b59b6",
                                            "#f1c40f",
                                            "#e74c3c",
                                            "#34495e"
                                        ],
                                        data: data
                                    }]
                            }
                        });
                }
            
        })
    }

</script>


